
/* =
-------------------------------------------------------------- */

/* --------  -------- */
/* --  -- */
/* -  - */


/* = Common
-------------------------------------------------------------- */


/* -- .item-header -- */
.item-header {
	margin-top: 20px;
	padding: 20px 15px;
	border-top-width: 1px;
	border-top-style: solid;
}

/* -- .titlte -- */
#content .item-header h1.item_page_title {
	font-size: 1.428em;
	font-weight: normal;
	margin: 0;
	letter-spacing: 1px;
	line-height: 1.428em;
}

/* -- .error-message -- */
.error_message {
	margin: 0 1.154em .714em;
}

/* -- .header_explanation -- */
div.header_explanation {
	margin: 1.428em 1.071em;
}

/* -- .footer_explanation -- */
div.footer_explanation {
	margin: 1.428em 1.071em 0;
}

/* -- .agree_member_area -- */
.agree_member_area textarea {
	margin-bottom: 1.071em
}

/* -------- main-button -------- */

.cart-page .send,
.member-page .send {
	margin-top: 1.071em;
	padding: 0;
}

.send input[type="button"],
.send input[type="submit"] {
	height: 46px;
	line-height: 46px;
}

#searchbox input.usces_search_button,
#wc_login .loginbox .new-entry #nav a,
#wc_member .loginbox .new-entry #nav a,
#wc_lostmemberpassword #member_login,
#wc_lostmemberpassword #nav a,
#wc_newcompletion #memberpages p a,
#wc_lostcompletion #memberpages p a,
#wc_changepasscompletion #memberpages p a,
#wc_lostcompletion #memberpages .send a,
#wc_changepasscompletion #memberpages .send a,
#wc_changepassword #member_login {
	height: 46px;
	margin: 0;
	padding: 0 1.428em;
	line-height: 46px;
}

/* -------- sub-button1 -------- */

#wc_cart #cart .upbutton input,
#cart .action input.delButton,
.customer_form input#search_zipcode,
#wc_lostmemberpassword #nav a {
	background: none;
	color: inherit;
	border-width: 1px;
	border-style: solid;
}


/* = wc_item_single.php
-------------------------------------------------------------- */


/* -------- #itempage -------- */

#itempage {
	margin: 0 1.071em;
}

/* -------- #img-box -------- */

#itempage #img-box {
	position: relative;
}
#itempage .itemsubimg {
	margin: 1.428em 0 0;
}
#itempage .itemsubimg img:hover {
	cursor: pointer;
}
#itemimg-sub .slick-slide {
	margin: 0 .357em 0 0;
}
#itemimg-sub .slick-prev:before,
#itemimg-sub .slick-next:before {
	font-family: "FontAwesome";
}
#itemimg-sub .slick-prev:before {
	content:"\f053";
}
#itemimg-sub .slick-next:before {
	content:"\f054";
}

/* -------- .detail-box -------- */

#itempage .detail-box .upper {
	margin-bottom: 1.071em;
}
/* -- .opt-tag -- */
#itempage .detail-box .opt-tag {
	float: left;
	margin: 0;
}
/* -- .itemcode -- */
#itempage .detail-box .itemcode {
	float: right;
	margin: 0;
	padding: 0;
	border: none;
}
/* -- .item-name -- */
#itempage .item-name {
	font-size: 1.286em;
	margin-bottom: 1.111em;
	line-height: normal;
}
/* -- .campaign_message -- */
#itempage .campaign_message {
    background-color: #fff;
    display: inline-block;
	float: left;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	margin: 2px 3px;
    padding: 0 5px;
    line-height: 18px;
    border-width: 1px;
    border-style: solid;
	letter-spacing: -.5px;
}

/* -------- .dl-seller -------- */

#itempage table.dlseller {
	margin: 1.428em 0;
}
#itempage table.dlseller th,
#itempage table.dlseller td {
	background: none;
	padding: .714em;
	border-width: 1px;
	border-style: solid;
}
#itempage table.dlseller th {
	width: 40%;
}

/* -------- .item-info -------- */

#itempage .item-info {
	padding-top: 0;
}
/* -- .item-custom-field -- */
.item-info table.item_custom_field {
	float: none;
	width: 100%;
	margin: 1.428em 0;
	border: none;
}
.item-info .item_custom_field th,
.item-info .item_custom_field td {
	background: none;
	padding: .714em;
	border-width: 1px;
	border-style: solid;
	vertical-align: middle;
}

/* -------- .skuform -------- */

.item-info .skuform,
.date .item-info .skuform {
	margin: 0;
	padding: 1.428em 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.item-info .skuform:first-child {
	padding-top: 0;
}
/* -- .skuname -- */
.skuform .skuname {
	background: none;
	min-height: auto;
	font-size: 1.143em;
	margin: 0 0 .625em;
	padding: 0;
	line-height: 1.143em;
}
.skuform .left {
    width: 27%;
    margin: 0 3% .714em 0;
    float: left;
}
/* -- .zaikostatus -- */
.skuform .zaikostatus {
	text-align: right;
    margin-bottom: .714em;
    padding: 0;
    line-height: 130%;
}

/* -------- .itemGpExp -------- */

.skuform .itemGpExp {
	clear: both;
	margin: 0 0 .714em;
	padding: 0;
	border-width: 1px;
	border-style: solid;
}
.skuform .itemGpExp dt,
.skuform .itemGpExp dd {
	padding: .357em .714em;
}
.skuform .itemGpExp li {
	margin-bottom: 0;
}
.skuform .itemGpExp li:last-child {
	margin-bottom: 0;
}
.skuform .itemGpExp .price {
	color: #e00;
}

/* -------- .item-option -------- */

.skuform .item-option {
	margin-bottom: 1.071em;
	padding: 0;
	border: none;
}
.skuform .item-option dt {
	font-weight: normal;
	margin-bottom: .357em;
}
/* -- select -- */
.skuform .item-option input[type="text"],
.skuform .item-option select {
	width: 100%;
}
/* -- radio + checkbox -- */
.item-info .item-option .iopt_radio_label,
.item-info .item-option .iopt_checkbox_label {
	display: inline-block;
	margin: 0 .714em .357em 0;
}
.skuform .item-option input[type="radio"] {
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
	vertical-align: middle;
	border-radius: 50%;
}
.skuform .item-option input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
	vertical-align: middle;
}
/* -- textarea -- */
.item-info .item-option textarea {
	padding: .714em;
}
/* -- other -- */
.skuform .item-option br {
	display: none;
}

/* -------- .field + cart-box -------- */

.skuform .field {
	padding: 0;
}
/* - .field_frequency - */
.item-info .frequency {
	margin-bottom: .357em;
}
.item-info .field_frequency {
	background-color: #fff;
	font-weight: normal;
	padding: 0 10px;
	border-width: 1px;
	border-style: solid;
}
/* - .field_price - */
.item-info .field_cprice {
	vertical-align: middle;
}
.skuform .field_price {
	float: right;
	color: #e00;
	font-size: 1.428em;
	margin: 0;
	line-height: normal;
	letter-spacing: 1px;
}
/* -- .skuquantity -- */
.skuform .quantity {
	margin-right: .714em;
}
.skuform .quantity input.skuquantity {
	width: 46px !important;
	height: 46px;
	padding: 0 .357em;
	line-height: 46px;
}
/* -- .c-box -- */
.skuform .c-box {
	clear: none;
	text-align: right;
	margin-top: .714em;
}
/* - .skubutton - */
.skuform .skubutton {
	clear: none;
	background: none;
	font-weight: normal;
	min-width: 200px;
	height: 46px;
	padding: 0 1.428em;
	border-radius: 3px;
	line-height: 46px;
	letter-spacing: normal;
}

/* -- .itemsoldout -- */
.item-info .itemsoldout {
	text-align: center;
	max-width: 230px;
	font-weight: normal;
	margin: .714em 0 0 auto;
	padding: .714em 0;
	letter-spacing: normal;
}

/* -- .contact-item -- */
.item-info .contact-item {
	text-align: right;
	margin-top: 1.071em;
}
.item-info .contact-item a {
	display: inline-block;
	font-weight: normal;
	height: 46px;
	padding: 0 1.071em;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	line-height: 46px;
}
.item-info .contact-item i {
	margin-right: .357em;
}

/* -------- .item-description -------- */

.item-description {
	margin: 1.428em .357em;
}
.item-description p {
	line-height: 1.8;
}
.item-description a {
	text-decoration: underline;
}
.item-description a:hover {
	text-decoration: none;
}

/* -- h1,h2,h3,h4,h5,h6 -- */
.item-description h1,
.item-description h2,
.item-description h3,
.item-description h4,
.item-description h5,
.item-description h6 {
	line-height: normal;
}
.item-description h2,
.item-description h3 {
	font-size: 1.871em;
	margin-bottom: .666em;
	padding: 0;
	border: none;
	line-height: 1.071em;
}

/* -- p -- */
.item-description p {
	margin-bottom: 1.428em;
	line-height: 2;
}


/* -------- .assistance_item -------- */

.assistance_item {
	margin: 2.143em 0;
	padding: 0;
}
.assistance_item h3 {
	color: #fff;
	font-size: 1.143em;
	margin: 0 0 1.875em;
	padding: .625em;
	border: none;
}
.assistance_item ul {
	margin: 0 1.071em;
}
.assistance_item li.list {
	float: left;
	width: 48%;
	margin-right: 4%;
	padding: 0;
}
.assistance_item li.list:nth-child( even ) {
	margin-right: 0;
}
.assistance_item li.list:nth-child( n+3 ) {
	margin-top: 8%;
}
.assistance_item .itemimg {
	position: relative;
	margin-bottom: .714em;
}
.assistance_item .itemsoldout {
	background-color: rgba(0,0,0,.4);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
}
.assistance_item .itemsoldout span {
	display: block;
}
.assistance_item .itemsoldout .text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	color: #fff;
	font-size: 18px;
	padding: 0 .714em;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.assistance_item .itemsoldout .sub_text {
	font-size: 12px;
	margin-top: 5px;
}
.assistance_item .itemname {
	margin-bottom: .714em;
}
.assistance_item .opt-tag {
	letter-spacing: normal;
}
.assistance_item .opt-tag li {
	float: none;
	display: inline-block;
	width: auto;
	margin-right: 0;
}

/* -------- #wc_reviews -------- */

#wc_reviews {
	margin-bottom: 2.143em;
	padding: 1.428em 0 0;
	border-top-width: 1px;
	border-top-style: solid;
}
#wc_reviews #respond {
	margin: 0 1.071em;
}
#wc_reviews #respond .comment-form-author,
#wc_reviews #respond .comment-form-author label{
	margin-bottom: .357em;
}
#wc_reviews .reviews_btn {
	margin: 1.071em 0;
}
#wc_reviews .reviews_btn a {
	display: inline-block;
	padding: 0 1.071em;
	line-height: 46px;
	border: none;
	border-radius: 3px;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
}

/* ---- logout ---- */
#wc_reviews .nowc_reviews,
#wc_reviews .reviews_btn {
	text-align: center;
}
#wc_reviews .nowc_reviews {
	margin-top: 1.071em;
}

/* ---- login ---- */

/* -- label -- */
#respond label {
	text-align: left;
	margin-bottom: .714em;
}

/* -- .wc_reviews-title -- */
#wc_reviews-title {
	font-size: 14px;
	margin: 30px 0 0;
	padding: 1.071em;
}

/* ---- .wc_reviewlist ---- */
.wc_reviewlist li {
	padding: 1.428em 1.071em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.wc_reviewlist li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
/* -- .children -- */
.wc_reviewlist .children {
	position: relative;
	margin: 1.071em 0 0 2.857em;
}
.wc_reviewlist .children:before {
	display: inline-block;
	position: absolute;
	top: -5px;
	left: -30px;
	content: " ";
	width: 10px;
	height: 20px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-left-width: 2px;
	border-left-style: solid;
}
.wc_reviewlist .children li {
	margin-bottom: 1.071em;
	padding: 0 0 1.071em;
}
.wc_reviewlist .children li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}

/* -- .review-author -- */
.review-author:before {
	display: inline-block;
	text-align: center;
	content:"\f007";
	color: #fff;
	font-family: "FontAwesome";
	width: 25px;
	height: 25px;
	margin-right: 5px;
	line-height: 25px;
	border-radius: 50%;
}
.review-author .fn {
	font-style: normal;
}
/* -- .review-meta -- */
.review-meta {
	margin: .714em 0;
}
/* -- .review-body -- */
.review-body {
	line-height: 1.8;
}

#respond .form-submit {
	margin: 0;
	padding: 0;
	border: none;
}


/* = wc_search_page
-------------------------------------------------------------- */


#searchbox {
	margin: 0 1.071em;
	letter-spacing: normal;
}

/* ------ .search-li ------ */

/* -- .title -- */
.search-li .search-result {
	text-align: right;
	margin-bottom: 1.428em;
}

/* -- .layout-grid -- */
#searchbox .layout-grid {
	margin: 0;
}

/* ------ form ------ */

searchbox form {
	margin-top: 2.143em;
}

/* ------ fieldset ------ */

#searchbox .fieldset {
	padding: .714em 0;
}
#searchbox fieldset li {
	margin-bottom: .357em;
}


/* ------ .send ------ */

#searchbox .send {
	text-align: center;
	margin-top: 1.071em;
}

#searchbox input.usces_search_button {
	display: inline-block;
}


/* = Cart
-------------------------------------------------------------- */


/* -------- .cart-page -------- */

#content.cart-page {
	padding: 0 0 1.428em 0;
}

/* -------- .cart_page_title -------- */

.cart_page_title {
	font-size: 1.428em;
	font-weight: normal;
	margin: 0 .75em 1em;
	letter-spacing: 1px;
	line-height: 1.428em;
}

/* -------- .cart_navi -------- */

div.cart_navi ul {
	position: relative;
}
div.cart_navi ul:before {
	position: absolute;
	top: 19px;
	left: 0;
	content: "";
	width: 100%;
	height: 2px;
	z-index: -1;
}
div.cart_navi li {
	background: none;
	position: relative;
	width: 25%;
	font-weight: normal;
	padding: 0;
	line-height: normal;
}

/* -- .current -- */
div.cart_navi li.current,
div.cart_navi li.current:before {
	color: inherit;
	background: none;
}

/* -- before + after -- */
div.cart_navi li:before,
div.cart_navi li:after {
	border: none;
}
div.cart_navi li:after {
	position: absolute;
	top: 0;
	left: 50%;
	width: 38px;
	height: 38px;
	margin: 0 0 .357em;
	border-radius: 50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	z-index: -1;
}
div.cart_navi li:before {
	background: none;
	float: none;
	font-family: "FontAwesome";
	margin: 0 auto .357em;
	padding: .714em;
	-webkit-transform: none;
	-moz-transform: none;
	-o-transform: none;
	transform: none;
}

/* -- cart-icon -- */
div.cart_navi li:first-child:before {
	content: url(assets/images/cart/cart.svg);
}
/* -- customer-icon -- */
div.cart_navi li:nth-child(2):before {
	content: url(assets/images/cart/customer.svg);
}
/* -- delivery-icon -- */
div.cart_navi li:nth-child(3):before {
	content: url(assets/images/cart/delivery.svg);
}
/* -- customer-icon -- */
div.cart_navi li:nth-child(4):before {
	content: url(assets/images/cart/confirm.svg);
}

/* -------- #cart -------- */

#cart {
	margin: 0 1.071em;
}

/* -------- #cart_table -------- */

#cart_table,
#cart_table th,
#cart_table td {
	border: none;
}
#cart_table {
	font-size: 13px;
}
#cart_table th,
#cart_table td {
	display: block;
}
#cart_table th {
	background: none;
	padding: .385em;
}
#cart_table td {
	position: relative;
	text-align: right;
	padding: .385em .385em .385em 28%;
}
#cart_table tfoot .aright {
	text-align: right;
}

/* -- display: none; -- */
#cart_table thead th,
#cart_table tfoot th,
#cart_table .num,
#cart_table .stock,
/* -- confirm -- */
#cart_table .discount_label,
#cart_table .tax_label,
#cart_table .point_label,
#cart_table .shipping_label,
#cart_table .cod_label,
#cart_table .used_points_label {
	display: none;
}

/* -- tbody -- */
#cart_table tbody tr {
	display: block;
	position: relative;
	padding: .769em 0;
	border-top-width: 1px;
	border-top-style: solid;
}

/* -- .thumbnail -- */
#cart_table td.thumbnail {
	display: block;
	text-align: left;
	padding-left: 0;
}
#cart_table td.thumbnail img {
	min-width: 60px;
}

/* -- .quantity -- */
#cart_table td.quantity {
	text-align: right;
	width: auto;
}
#cart_table td.quantity input {
	height: 30px;
	line-height: 30px;
}

/* -- .action -- */
#cart_table td.action {
	position: absolute;
	top: 1.923em;
	right: 0;
	width: auto;
	padding: 0;
}
#cart .action input.delButton {
	padding: 0 1.071em;
}

/* -- tfoot -- */
#cart_table tfoot tr {
	overflow: hidden;
	display: block;
}
#cart_table tfoot th.aright,
#cart_table tfoot th.amount {
	display: block;
	padding: .769em;
}
#cart_table tfoot th.aright {
	float: left;
}
#cart_table tfoot th.amount {
	float: right;
	font-size: inherit;
}

/* -- other -- */
#cart_table em.tax {
	color: inherit;
}

/* -- before -- */
#cart_table tbody td:before {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	text-align: left;
	width: 25%;
	font-weight: bold;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
#cart_table .productname:before {
	content: "item name";
}
#cart_table .unitprice:before,
#cart_table .quantity:before,
#cart_table .subtotal:before,
#cart_table .stock:before,
#cart_table .discount_price:before,
#cart_table .tax_price:before,
#cart_table .point_price:before,
#cart_table .shipping_price:before,
#cart_table .cod_price:before,
#cart_table .used_points:before {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	text-align: left;
	width: 25%;
	font-weight: bold;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
#cart_table .discount_price:before,
#cart_table .point_price:before {
	color: inherit;
}

#cart_table .discount_price:before {
	content: "Campaign Discount";
}
#cart_table .unitprice:before {
	content: "Unit price";
}
#cart_table .quantity:before {
	content: "Quantity";
}
#cart_table .subtotal:before {
	content: "Amount";
}
#cart_table .stock:before {
	content: "stock status";
}
#cart_table .tax_price:before {
	content: "Internal tax";
}
#cart_table .point_price:before {
	content: "Used Points";
}
#cart_table .shipping_price:before {
	content: "Shipping";
}
#cart_table .cod_price:before {
	content: "COD Charge";
}
#cart_table .used_points:before {
	content: "Used Points";
}

/* -------- .lang-ja #cart_table -------- */

.lang-ja #cart_table td {
	padding-left: 18%;
}
.lang-ja #cart_table td.thumbnail,
.lang-ja #cart_table td.action{
	padding-left: 0;
}

/* -- before -- */
.lang-ja #cart_table tbody td:before {
	position: absolute;
	top: .385em;
	left: 0;
	text-align: left;
	width: 15%;
	font-weight: bold;
	-webkit-transform: none;
	transform: none;
}
.lang-ja #cart_table .productname:before {
	content: "商品名";
}
.lang-ja #cart_table .unitprice:before {
	content: "単価";
}
.lang-ja #cart_table .quantity:before {
	content: "数量";
}
.lang-ja #cart_table .subtotal:before {
	content: "金額";
}
.lang-ja #cart_table .stock:before {
	content: "在庫状態";
}
.lang-ja #cart_table .discount_price:before {
	content: "キャンペーン割引";
}
.lang-ja #cart_table .tax_price:before {
	content: "内消費税";
}
.lang-ja #cart_table .point_price:before {
	content: "使用ポイント";
}
.lang-ja #cart_table .shipping_price:before {
	content: "送料";
}
.lang-ja #cart_table .cod_price:before {
	content: "代引手数料";
}
.lang-ja #cart_table .used_points:before {
	content: "使用ポイント";
}

/* -------- .customer_form -------- */

.customer_form tr {
	padding: 0 1.071em 1.071em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.customer_form tr:first-child {
	padding-top: 1.071em;
}
.customer_form tr:last-child {
	margin-bottom: 0;
}
.customer_form th {
	font-weight: normal;
}
.customer_form td label {
	color: inherit;
}
.customer_form input#search_zipcode {
	height: 40px;
	margin: 0 .714em;
	padding: 0 1.071em;
	line-height: 40px;
}
.customer_form input#loginmail,
.customer_form input#mailaddress1,
.customer_form input#mailaddress2 {
	max-width: 360px;
	width: 90%;
}


/* = wc_cart_page.php
-------------------------------------------------------------- */


/* -------- .upbutton -------- */

#wc_cart #cart .upbutton {
	text-align: center;
	font-size: .857em;
	margin-bottom: 1.041em;
	padding: 0;
}
#wc_cart #cart .upbutton input {
	display: block;
	width: 100%;
	margin: .833em auto 0;
	padding: 0 .833em;
}


/* = wc_customer_page.php
-------------------------------------------------------------- */


/* -------- h5 -------- */

#customer-info h5 {
	text-align: center;
	color: inherit;
	font-size: 13px;
	margin-bottom: 0;
	padding: .769em 1.154em;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#customer-info #nav {
	margin-top: .357em;
}
#customer-info #nav a:before {
	display: inline-block;
	content:"\f138";
	font-family: "FontAwesome";
	margin-right: .374em;
}


/* = wc_delivery_page.php
-------------------------------------------------------------- */


/* -------- .customer_form -------- */

/* -- dldt,dd -- */
#wc_delivery .customer_form dt {
	font-weight: normal;
}


/* = wc_confirm_page.php
-------------------------------------------------------------- */


/* -------- #info-confirm -------- */

#info-confirm .confiem_notice {
	text-align: center;
	margin: 0 1.071em 1.428em;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
}

/* -- .cart_table -- */
#info-confirm #cart_table tfoot tr {
	background: none;
}
#info-confirm #cart_table tfoot tr:last-child th {
	color: #fff;
}
#info-confirm #cart_table tfoot .num,
#info-confirm #cart_table tfoot .thumbnail {
	display: none;
}
#info-confirm #cart_table tfoot td.aright {
	float: left;
	font-weight: bold;
	padding: .385em 0;
}
#info-confirm #cart_table tfoot td.discount,
#info-confirm #cart_table tfoot td.tax,
#info-confirm #cart_table tfoot td.points,
#info-confirm #cart_table tfoot td.charge,
#info-confirm #cart_table tfoot td.cod_fee,
#info-confirm #cart_table tfoot td.usedpoint,
#info-confirm #cart_table tfoot td.amount {
	float: right;
	font-weight: normal;
}

/* -- #confirm_table -- */
.confirm_table-wrap {
	margin: 0 1.071em;
}
#confirm_table {
	font-size: 13px;
}
#confirm_table .ttl h3 {
	color: inherit;
}
#confirm_table th,
#confirm_table td {
	padding: .769em;
}
#confirm_table th {
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	white-space: nowrap;
}
#confirm_table td {
	border-width: 1px;
	border-style: solid;
}

/* -- #point_table -- */
#point_table,
#cart #coupon_table {
	font-size: 13px;
	margin: 1.428em 0;
}
#point_table td,
#cart #coupon_table td {
	padding: .769em;
	border: none;
	border-width: 1px;
	border-style: solid;
}
#point_table td.c-point,
#point_table td.u-point,
#cart #coupon_table td {
	font-weight: normal;
}
#cart #coupon_table tr:first-child td:first-child {
	font-weight: normal;
}
#point_table td input.use_point_button,
#cart #coupon_table td .use_coupon_button {
	background: none;
	color: inherit;
	padding: 0 1.071em;
	border-width: 1px;
	border-style: solid;
}


/* = wc_completion_page.php
-------------------------------------------------------------- */


#wc_ordercompletion h3 {
	font-size: 1.286em;
	font-weight: normal;
	margin: 1.111em 0;
}
/* -- .send -- */
#wc_ordercompletion .send a {
	display: inline-block;
    height: 46px;
	padding: 0 1.428em;
    line-height: 46px;
}

/* -- .header_explanation -- */
#wc_ordercompletion .header_explanation {
	margin: 1.428em 1.071em;
}
#wc_ordercompletion .header_explanation p {
	line-height: 180%;
}


/* = wc_cart_error_page.php
-------------------------------------------------------------- */

#wc_error #error-page {
	margin: 0 1.071em;
}
#wc_error #error-page h2 {
	font-family: inherit;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
	text-align: center;
	letter-spacing: 2px;
}
#wc_error #error-page .post {
	text-align: center;
}
#wc_error #error-page .error_page_mesage {
	max-width: 530px;
	margin: 20px auto 0;
	padding: 15px;
	border: 1px solid #89b1ec;
}
#wc_error #error-page .error_page_mesage a {
	text-decoration: underline;
}
#wc_error #error-page .error_page_mesage a:hover {
	text-decoration: none;
}

/* = Member
-------------------------------------------------------------- */


/* -------- .member-page -------- */

#content.member-page {
    padding: 0 0 1.428em 0;
}

/* -------- .member_page_title -------- */

.member_page_title {
	font-size: 1.428em;
	font-weight: normal;
	margin: 0 .75em 1em;
	letter-spacing: 1px;
	line-height: 1.428em;
}

/* -------- .member_page_title -------- */

#wc_login .error_message,
#wc_member .error_message,
#wc_changepassword .loginbox,
#wc_changepassword .error_message,
#wc_lostmemberpassword .loginbox,
#wc_lostmemberpassword .error_message {
	width: auto;
}


/* = wc_login_page.php
-------------------------------------------------------------- */


/* -- .loginbox -- */
#wc_login .loginbox,
#wc_member .loginbox {
	margin: 0 1.0714em;
	padding: 0;
}
#wc_login .loginbox input.loginpass,
#wc_member .loginbox input.loginpass {
	width: auto;
}
#wc_login .loginbox .forgetmenot input,
#wc_memebr.login .loginbox .forgetmenot input {
	margin-right: 3px;
}
#wc_login .member-box #nav a:before,
#wc_member .member-box #nav a:before {
	display: inline-block;
	content:"\f138";
	font-family: "FontAwesome";
	margin-right: .374em;
}
/* -- .new-entry -- */
#wc_login .loginbox .new-entry,
#wc_member .loginbox .new-entry {
	margin-top: 1.428em;
	padding: 1.428em;
	border-radius: 3px;
}
#wc_login .new-entry h2,
#wc_member .new-entry h2 {
	text-align: center;
	font-weight: normal;
	line-height: 1em;
}
#wc_login .loginbox .new-entry #nav,
#wc_member .loginbox .new-entry #nav {
	margin-top: .714em;
}


/* = wc_lostpassword_page.php
-------------------------------------------------------------- */


#wc_lostmemberpassword .loginbox {
	margin: 0 1.0714em;
	padding: 0;
}
#wc_lostmemberpassword .loginbox .submit {
	margin: 0 0 1.428em;
	padding: 0;
}
/* -- #nav -- */
#wc_lostmemberpassword .loginbox #nav {
	margin-top: .714em;
}


/* = wc_changepassword_page.php
-------------------------------------------------------------- */


#wc_changepassword .loginbox {
	margin: 0 1.0714em;
	padding: 0;
}


/* = wc_member_completion_page.php
-------------------------------------------------------------- */


#wc_lostcompletion #memberpages,
#wc_changepasscompletion #memberpages,
#wc_editcompletion #memberpages,
#wc_newcompletion #memberpages {
	margin: 0 1.0714em;
}
#wc_lostcompletion h3,
#wc_changepasscompletion h3,
#wc_editcompletion h3,
#wc_newcompletion h3{
	font-size: 1.286em;
	font-weight: normal;
	margin: 1.111em 0;
}
#wc_lostcompletion .footer_explanation,
#wc_changepasscompletion .footer_explanation,
#wc_editcompletion .footer_explanation,
#wc_newcompletion .footer_explanation {
	margin-bottom: 1.428em;
}
#wc_lostcompletion .member-btn,
#wc_lostcompletion .send,
#wc_changepasscompletion .member-btn,
#wc_changepasscompletion .send,
#wc_editcompletion .member-btn,
#wc_editcompletion .send,
#wc_newcompletion .member-btn,
#wc_newcompletion .send {
	display: inline-block;
}


/* = wc_member_page.php
-------------------------------------------------------------- */


/* -- h3 -- */
#wc_member h3,
#wc_editmemberform h3 {
	font-size: 1.286em;
	font-weight: normal;
	margin: 0 0 .555em;
	padding: 0;
	border: none;
}
#wc_member .member-block h3,
#wc_editmemberform .member-block h3 {
	margin-right: .833em;
	margin-left: .833em;
}

/* -- block -- */
#memberinfo .user-block,
#memberinfo .history-block {
	margin: 0 1.071em;
}

/* -------- .user-block -------- */

#memberinfo .user-block table,
#memberinfo .user-block tbody,
#memberinfo .user-block tr,
#memberinfo .user-block th,
#memberinfo .user-block td {
	display: block
}
#memberinfo .user-block table,
#memberinfo .user-block th,
#memberinfo .user-block td {
	border: none;
}
#memberinfo .user-block table {
	margin-bottom: 1.428em;
}
#memberinfo .user-block th {
	background: none;
	font-weight: bold;
	margin-bottom: .357em;
	padding: 0;
}
#memberinfo .user-block td {
	margin-bottom: .714em;
	padding: 0 0 .714em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#memberinfo .user-block .space {
	display: none;
}

/* -------- .member_submenu -------- */

.member_submenu {
	text-align: center;
}
.member_submenu li,
.member_submenu li.member-logout {
	display: inline-block;
	margin: .375em 0;
}
.member_submenu a {
	width: auto;
	height: 46px;
	padding: 0 1.428em;
	line-height: 46px;
}

/* -------- .history-block -------- */

#memberinfo .history-block {
	margin-bottom: 2.143em;
}
#memberinfo .currency_code {
	margin-bottom: .357em;
}
#memberinfo .history-area {
	width: 100%;
	max-height: 400px;
	overflow: auto;
}
#memberinfo #history_head,
#memberinfo .retail,
#memberinfo #history_head th,
#memberinfo #history_head td,
#memberinfo .retail th,
#memberinfo .retail td {
	border: none;
}
#memberinfo #history_head,
#memberinfo .retail {
	min-width: 600px;
}

#memberinfo #history_head th,
#memberinfo .retail th {
	font-weight: bold;
	white-space: normal;
}
#memberinfo #history_head th,
#memberinfo #history_head td,
#memberinfo .retail th,
#memberinfo .retail td {
	padding: 1.363em .454em;
}

/* -- #history-head -- */
#memberinfo #history_head {
	margin-bottom: 0;
}
/* -- .retail -- */
#memberinfo .retail tr,
#memberinfo #history_head tr {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#memberinfo .retail td.productname {
	line-height: 1.5;
}
#memberinfo table.retail .redownload_link {
	text-align: left;
}
#memberinfo table.retail .redownload_link a {
	display: inline-block;
}

/* -------- .customer_form -------- */

#memberinfo .customer_form th,
#memberinfo .customer_form td {
	padding: 0;
}
#memberinfo .customer_form th {
	font-weight: normal;
}


/**
 * 16.1 Mobile Large 620px
 */
@media screen and (min-width: 38.75em) {


	/* = wc_item_single.php
	-------------------------------------------------------------- */


	/* -------- #img-box -------- */

	#itempage #img-box,
	#itempage .item-info {
		margin-bottom: 2.143em;
	}

	/* -------- .item-info -------- */

	#itempage .item-info {
		clear: none;
		width: 55%;
		float: right;
	}

	/* -------- .skuform -------- */

	.skuform .right {
		float: right;
		width: 70%;
	}
	.skuform .field_price {
		font-size: 1.714em;
	}

	/* -------- .item-description -------- */

	.item-description {
		clear: both;
	}

	/* -------- .assistance_item -------- */

	.assistance_item li.list {
		width: 30.666%;
	}
	.assistance_item li.list:nth-child( even ) {
		margin-right: 4%;
	}
	.assistance_item li.list:nth-child( 3n ) {
		margin-right: 0;
	}
	.assistance_item li.list:nth-child( n+3 ) {
		margin-top: 0;
	}
	.assistance_item li.list:nth-child( n+4 ) {
		margin-top: 6%;
	}


	/* = wc_lostpassword_page.php
	-------------------------------------------------------------- */


	#wc_lostmemberpassword .loginbox {
		width: auto;
	}
	#wc_lostmemberpassword .loginbox input.loginmail {
		max-width: 560px;
	}


	/* = wc_changepassword_page.php
	-------------------------------------------------------------- */


	/* -------- .loginbox -------- */

	#wc_changepassword .loginbox {
		width: auto;
	}

	#wc_changepassword .loginbox input.loginpass {
		max-width: 560px;
	}


	/* = wc_member_page.php
	-------------------------------------------------------------- */


	/* -------- .customer-form -------- */

	#memberinfo #history_head th,
	#memberinfo #history_head td,
	#memberinfo .retail th,
	#memberinfo .retail td {
		font-size: 11px;
	}

	/* -------- .customer-form -------- */

	#memberinfo .customer_form tr,
	#memberinfo .customer_form th,
	#memberinfo .customer_form td {
		display: block;
	}
	#memberinfo .customer_form th,
	#memberinfo .customer_form td {
		border: none;
	}
	#memberinfo .customer_form th {
		background: none;
		width: auto;
		padding: 0;
	}


}


/**
 * 16.2 Tablet Small 740px
 */
@media screen and (min-width: 46.25em) {


	/* = Common
	-------------------------------------------------------------- */


	/* -- .header_explanation -- */
	div.header_explanation {
		margin: 2.143em;
	}
	/* -- .footer_explanation -- */
	div.footer_explanation {
		margin: 2.143em 2.143em 0;
	}

	/* -------- .agree_member_area -------- */

	.agree_member_area {
		max-width: 900px;
		width: auto;
		margin: 2.143em 1.428em 0;
	}


	/* = wc_item_single.php
	-------------------------------------------------------------- */


	#itempage {
		margin: 0 2.143em;
	}
	.item-header {
		padding: 1.428em 2.143em;
	}

	
	/* -------- .itemGpExp -------- */

	.skuform .itemGpExp dt,
	.skuform .itemGpExp dd {
		display: block;
		width: auto;
		margin: 0;
	}
	.skuform .itemGpExp dd {
		border: none;
	}

	/* -------- .item-option -------- */

	.skuform .item-option dt,
	.skuform .item-option dd {
		display: block;
		width: auto;
	}
	.skuform .item-option dd {
		padding: 0;
		border: none;
	}

	/* -------- .c-box -------- */

	.skuform .skubutton {
		padding: 0 2.143em;
	}

	/* -------- .assistance_item -------- */

	.assistance_item h3 {
		padding: .625em 1.875em;
	}
	.assistance_item ul {
		margin: 0 2.143em;
	}
	.assistance_item li.list {
		width: 23.125%;
		margin-right: 2.5%;
	}
	.assistance_item li.list:nth-child( even ),
	.assistance_item li.list:nth-child( 3n ){
		margin-right: 2.5%;
	}
	.assistance_item li.list:nth-child( 4n ) {
		margin-right: 0;
	}
	.assistance_item li.list:nth-child( n+4 ) {
		margin-top: 0;
	}
	.assistance_item li.list:nth-child( n+5 ) {
		margin-top: 5%;
	}


	/* = wc_review.php
	-------------------------------------------------------------- */


	#wc_reviews #respond {
		margin: 0 2.143em;
	}
	#wc_reviews-title {
		padding: 1.071em 2.143em;
	}
	.wc_reviewlist li {
		padding: 1.428em 2.143em;
	}


	/* = wc_search_page
	-------------------------------------------------------------- */


	#searchbox {
		margin: 0 2.143em;
	}


	/* = Cart
	-------------------------------------------------------------- */


	/* -------- .cart_page_title -------- */

	.cart_page_title {
		margin: 0 1.5em 1em;
	}

	/* -------- .cart_navi -------- */

	.cart_navi {
		margin: 0 1.428em;
	}

	/* -------- main-button -------- */

	.cart-page .send,
	.member-page .send {
		margin-top: 2.143em;
	}

	/* -------- #cart -------- */

	#cart {
		margin: 0 2.143em;
	}

	/* -------- #cart_table -------- */
	
	#cart_table {
		font-size: 14px;
	}

	/* -- display: table; -- */
	#cart_table th,
	#cart_table td,
	#cart_table tfoot th.aright,
	#cart_table tfoot th.amount {
		display: table-cell;
		padding: .714em;
	}
	#cart_table .num,
	#cart_table .stock,
	#cart_table thead th,
	#cart_table tfoot th,
	#cart_table tfoot th.aright,
	#cart_table tfoot th.amount,
	#cart_table td.thumbnail {
		display: table-cell;
	}
	#cart_table tfoot th.aright,
	#cart_table tfoot th.amount {
		float: none;
	}

	/* -- tr -- */
	#cart_table tbody tr,
	#cart_table tfoot tr {
		display: table-row;
	}
	#cart_table tfoot tr {
		border-top-width: 1px;
		border-top-style: solid;
	}

	/* -- .num -- */
	#cart_table .num {
		text-align: center;
	}

	/* -- .quantity -- */
	#cart_table td.quantity {
		text-align: center;
	}

	/* -- .action -- */
	#cart_table td.action {
		position: static;
	}
	#cart .action input.delButton {
		padding: 0 .714em;
	}

	/* -- before -- */
	#cart_table thead th:before,
	#cart_table tbody td:before,
	#cart_table tfoot th:before,
	#cart_table .unitprice:before,
	#cart_table .quantity:before,
	#cart_table .subtotal:before,
	#cart_table .stock:before,
	#cart_table .discount_price:before,
	#cart_table .tax_price:before,
	#cart_table .point_price:before,
	#cart_table .shipping_price:before,
	#cart_table .cod_price:before,
	#cart_table .used_points:before {
		display: none;
	}

	/* -- label -- */
	#cart_table .discount_label,
	#cart_table .tax_label,
	#cart_table .point_label,
	#cart_table .shipping_label,
	#cart_table .cod_label,
	#cart_table .used_points_label {
		display: table-cell; 
	}

	/* -------- .lang-ja -------- */

	.lang-ja #cart_table td {
		padding-left: .714em;
	}

	/* -------- .customer_form -------- */

	.customer_form th,
	.customer_form td {
		padding: 1.071em;
		border: none;
		border-top-width: 1px;
		border-top-style: solid;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
	.customer_form th {
		background: none;
	}

	/* -------- form -------- */

	#customer-info form,
	#delivery-info form {
		margin: 0 2.143em;
	}


	/* = wc_cart_page.php
	-------------------------------------------------------------- */


	/* -------- .upbutton -------- */

	#wc_cart #cart .upbutton {
		text-align: right;
	}
	#wc_cart #cart .upbutton input {
		display: inline-block;
		width: auto;
		margin: .833em 0 0;
	}


	/* = wc_customer_page.php
	-------------------------------------------------------------- */


	/* -------- h5 -------- */

	#customer-info h5 {
		font-size: 1em;
		margin: 2.143em;
		padding: .714em .357em;
	}


	/* = wc_confirm_page.php
	-------------------------------------------------------------- */


	.confirm_table-wrap {
		margin: 0 2.143em;
	}

	/* -- table -- */
	#cart #point_table,
	#confirm_table {
		font-size: 14px;
	}
	#point_table td,
	#confirm_table th,
	#confirm_table td {
		padding: .714em;
	}
	
	#info-confirm #cart_table tfoot .num,
	#info-confirm #cart_table tfoot .thumbnail {
		display: table-cell;
	}
	#info-confirm #cart_table tfoot td.aright {
		float: none;
		padding: .714em;
	}



	/* = Member
	-------------------------------------------------------------- */

	/* -------- .member_page_title -------- */

	.member_page_title {
		margin: 0 1.5em 1em;
	}


	/* = wc_login-page.php
	-------------------------------------------------------------- */


	#wc_login .loginbox,
	#wc_member .loginbox {
		width: auto;
		margin: 0 2.1434em;
	}
	#wc_login .member-box,
	#wc_member .member-box,
	#wc_login .loginbox .new-entry,
	#wc_member .loginbox .new-entry {
		float: left;
		width: 47.5%;
	}
	#wc_login .member-box,
	#wc_member .member-box {
		margin-right: 5%;
	}


	/* = wc_lostpassword_page.php
	-------------------------------------------------------------- */


	#wc_lostmemberpassword .loginbox {
		display: inline-block;
		margin: 0 2.1434em;
	}


	/* = wc_changepassword_page.php
	-------------------------------------------------------------- */


	#wc_changepassword #memberpages {
		text-align: center;
	}
	#wc_changepassword .loginbox {
		display: inline-block;
		min-width: 380px;
		margin: 0 2.1434em;
	}


	/* = wc_member_page.php
	-------------------------------------------------------------- */


	#memberinfo .user-block,
	#memberinfo .history-block,
	#wc_member .member-block,
	#wc_editmemberform .member-block {
		margin-right: 2.143em;
		margin-left: 2.143em;
	}

	/* -------- .user-block -------- */

	#memberinfo .user-block table {
		display: table;
		margin-bottom: 2.143em;
	}
	#memberinfo .user-block tbody {
		display: table-row-group;
	}
	#memberinfo .user-block tr {
		display: table-row;
	}
	#memberinfo .user-block th,
	#memberinfo .user-block td {
		display: table-cell;
		padding: 1.071em;
		border: none;
		border-top-width: 1px;
		border-top-style: solid;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
	#memberinfo .user-block .space {
		display: table-cell;
	}

	/* -------- .history-block -------- */

	#memberinfo .history-block {
		margin-bottom: 2.857em;
	}
	#memberinfo .history-area {
		max-height: 600px;
	}
	#memberinfo #history_head th,
	#memberinfo #history_head td,
	#memberinfo .retail th,
	#memberinfo .retail td {
		font-size: 13px;
		padding: 1.154em .385em;
	}

	/* -------- .member-block -------- */

	#wc_member .member-block h3,
	#wc_editmemberform .member-block h3 {
		margin: 0 0 .555em;
	}

	/* -- .customer_form -- */
	#memberinfo .customer_form tr {
		display: table-row;
	}
	#memberinfo .customer_form th,
	#memberinfo .customer_form td {
		display: table-cell;
		padding: 1.071em;
		border: none;
		border-top-width: 1px;
		border-top-style: solid;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}


}


/**
 * 16.3 Tablet Large 880px
 */
@media screen and (min-width: 55em) {}


/**
 * 16.4 Desktop Small 1000px
 */
@media screen and (min-width: 62.5em) {


	/* = Common
	-------------------------------------------------------------- */


	.item-header {
		margin-top: 0;
		padding: 0 0 2.143em;
		border: none;
	}

	/* -- title -- */
	#content .item-header h1.item_page_title,
	.cart_page_title {
		font-size: 1.714em;
		line-height: 1.714em;
	}

	/* -- .error_message -- */
	.error_message {
		margin: 0 0 .714em;
	}

	/* -- .header_explanation -- */
	div.header_explanation {
		margin: 2.143em 0;
	}

	/* -- .footer_explanation -- */
	div.footer_explanation {
		margin: 2.143em 0 0;
	}

	/* -------- main-button -------- */

	.skuform .skubutton,
	#wc_reviews .reviews_btn a,
	.send input[type="button"],
	.send input[type="submit"],
	#wc_ordercompletion .send a,
	#searchbox input.usces_search_button,
	#wc_login .loginbox .new-entry #nav a,
	#wc_member .loginbox .new-entry #nav a,
	.member_submenu a,
	#wc_lostmemberpassword #member_login,
	#wc_lostmemberpassword #nav a,
	#wc_newcompletion #memberpages p a,
	#wc_lostcompletion #memberpages p a,
	#wc_changepasscompletion #memberpages p a,
	#wc_lostcompletion #memberpages .send a,
	#wc_changepasscompletion #memberpages .send a,
	#wc_changepassword #member_login {
		height: 56px;
		line-height: 56px;
	}

	/* -------- .agree_member_area -------- */
	.agree_member_area {
		margin: 2.143em auto 0;
	}


	/* = wc_item_single.php
	-------------------------------------------------------------- */


	#itempage {
		margin: 0;
	}
	.detail-box,
	#itempage .item-info {
		width: 45%;
	}

	/* -------- #img-box -------- */

	#itempage #img-box {
		width: 50%;
	}
	#itempage .itemsubimg {
		overflow: inherit;
	}
	#itempage .itemsubimg img:hover {
		opacity: .6;
	}
	#itemimg-sub .slick-prev {
		left: -30px;
	}
	#itemimg-sub .slick-next {
		right: -30px;
	}

	/* -------- .detail-box -------- */

	#itempage .item-name {
		font-size: 1.286em;
		margin-bottom: 1em;
	}

	.skuform .left {
		width: 15.518%;
		margin-bottom: 0;
	}
	.skuform .right {
		width: 75%;
	}


	/* -------- .item-description -------- */

	#itempage .item-description {
		margin: 2.857em .375em;
	}

	/* -------- .assistance_item -------- */

	.assistance_item {
		margin: 2.143em 0;
	}
	.assistance_item h3 {
		font-size: 1.428em;
		margin-bottom: 1.25em;
		padding: .5em;
		line-height: 1.428em;
	}
	.assistance_item ul {
		margin: 0;
	}
	.assistance_item li.list {
		width: 18%;
	}
	.assistance_item li.list:nth-child( 4n ) {
		margin-right: 2.5%;
	}
	.assistance_item li.list:nth-child( 5n ) {
		margin-right: 0;
	}
	.assistance_item li.list:nth-child( n+5 ) {
		margin-top: 0;
	}
	.assistance_item li.list:nth-child( n+6 ) {
		margin-top: 5%;
	}

	/* -------- #wc_reviews -------- */

	#wc_reviews {
		padding-top: 2.143em;
	}
	#wc_reviews #respond {
		margin: 0 1.071em;
	}
	#wc_reviews-title {
		padding: 1.071em;
	}
	.wc_reviewlist li {
		padding: 1.428em 1.071em;
	}


	/* = wc_search_page
	-------------------------------------------------------------- */


	#searchbox {
		margin: 0;
	}


	/* = Cart
	-------------------------------------------------------------- */


	/* -------- .cart_page -------- */

	#main #content.cart-page {
		margin-top: -1.428em;
		padding: 0;
		border: none;
	}

	/* -- article -- */
	.cart-page #wc_cart {
		margin: 0;
	}

	/* -------- .cart_page_title -------- */

	.cart_page_title {
		margin: 0 0 1.25em;
	}

	/* -------- .cart_navi -------- */

	.cart_navi {
		margin: 0;
	}
	div.cart_navi li:before {
		width: 25px;
		height: 25px;
		margin-bottom: .714em;
	}
	div.cart_navi li:after {
		width: 50px;
		height: 50px;
	}

	/* -------- #cart -------- */

	#cart {
		margin: 0;
	}

	/* -------- form -------- */

	#customer-info form,
	#delivery-info form {
		margin: 0;
	}


	/* = wc_customer_page.php
	-------------------------------------------------------------- */


	/* -------- h5 -------- */
	#customer-info h5 {
		text-align: left;
		font-size: 18px;
		font-weight: bold;
		margin: 1.666em 0 .555em;
		padding: 0;
		border: none;
	}


	/* = wc_cart_page.php
	-------------------------------------------------------------- */


	/* -- .confiem_notice -- */
	#info-confirm .confiem_notice {
		margin: 0 0 2.857em;
	}

	/* -- #cart_table -- */
	#wc_confirm #cart_table {
		margin-bottom: 2.857em;
	}
	#cart #point_table {
		margin-bottom: 2.857em !important;
	}
	#cart #coupon_table {
		margin: 2.857em 0;
	}

	/* -- .confirm_table-wrap -- */
	.confirm_table-wrap {
		margin: 0;
	}


	/* = wc_completion_page.php
	-------------------------------------------------------------- */


	#wc_ordercompletion h3 {
		font-size: 1.428em;
		margin: 1em 0;
	}

	/* -- .header_explanation -- */
	#wc_ordercompletion .header_explanation p {
		line-height: 200%;
	}


	/* = Member
	-------------------------------------------------------------- */


	/* -------- .member-page -------- */
	#main #content.member-page {
		margin: -1.428em auto 0;
		padding: 0;
	}

	/* -------- .member_page_title -------- */

	.member_page_title {
		font-size: 1.714em;
		margin: 0 0 1.25em;
		line-height: 1.714em;
	}


	/* = wc_login-page.php
	-------------------------------------------------------------- */


	/* -- .loginbox -- */
	#wc_login .loginbox,
	#wc_member .loginbox {
		margin: 0;
	}

	/* -- .new-entry -- */
	#wc_login .loginbox .new-entry,
	#wc_member .loginbox .new-entry {
		padding: 2.143em;
	}
	#wc_login .new-entry h2,
	#wc_member .new-entry h2 {
		font-size: 1.286em;
	}
	#wc_login .loginbox .new-entry #nav,
	#wc_member .loginbox .new-entry #nav {
		margin-top: 1.428em;
	}


	/* = wc_lostpassword_page.php
	-------------------------------------------------------------- */


	#wc_lostmemberpassword .loginbox {
		margin: 0;
	}


	/* = wc_member_completion_page.php
	-------------------------------------------------------------- */


	#wc_lostcompletion #memberpages,
	#wc_changepasscompletion #memberpages,
	#wc_editcompletion #memberpages,
	#wc_newcompletion #memberpages {
		margin: 0;
	}
	#wc_lostcompletion h3,
	#wc_changepasscompletion h3,
	#wc_editcompletion h3,
	#wc_newcompletion h3 {
		font-size: 1.428em;
		margin: 1em 0;
	}


	/* = wc_member_page.php
	-------------------------------------------------------------- */


	/* -------- .detail-box -------- */
	#memberinfo #history_head,
	#memberinfo .retail {
		min-width: auto;
	}
	#memberinfo #history_head th,
	#memberinfo .retail th {
		white-space: nowrap;
	}
	#memberinfo .user-block,
	#memberinfo .history-block,
	#wc_member .member-block,
	#wc_editmemberform .member-block {
		margin-right: 0;
		margin-left: 0;
	}

	/* -- h3 -- */
	#wc_member h3,
	#wc_editmemberform h3 {
		font-size: 1.428em;
		margin-bottom: .5em;
	}

}
